 /* Add your custom CSS code here */
 .navigation .navbar-brand {
  color: var(--dark-color);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.navigation .navbar-toggler {
  background-color: var(--lightest-color);
  border: none;
}

.navigation .navbar-nav .nav-link {
  color: var(--dark-color);
  font-family: 'Geologica', sans-serif;
  font-size: 20px;
  text-decoration: none;
}

.navigation .navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background: var(--darker-color);
  border-radius: 5px;
  left: 0;
  bottom: -6px;
  transform: scaleX(0);
  transition: transform .4s;
  transform-origin: right;
}

.navigation .navbar-nav .nav-link:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .navbar-nav .dropdown-menu {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navigation .navbar-nav .dropdown-item {
  color: var(--dark-color);
  font-family: 'Montserrat', sans-serif;
}

.navigation .navbar-nav .dropdown-item:hover {
  background-color: var(--lightest-color);
  color: var(--dark-color);
}

.navbar{
  width:100vw;
}